

.background1 {
    background-color: red;
}

.background2 {
    background-color: blue;
}

.background3 {
    background-color: purple;
}

.background4 {
    background-color: orange;
}

.background5 {
    background-color: green;
}