/* Header css */
body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    user-select: text;
}

header {
    width: 100vw;
    height: 10vh;
}

#layer1, #layer2 {
    position: fixed;
    width: 110vw;
    height: 30vh;
}

#layer1 {
    background-color: #00d8db;
    left: -2vw;
    z-index: 2;
    transition: all 2s;
}

.layer1_inactive {
    transform: rotate(4deg);
    top: -23vh;
}

.layer1_active {
    transform: rotate(0deg);
    top: -19vh;
}

#layer2 {
    background-color: #b30300;
    transform: rotate(-2deg);
    left: -2vw;
    top: -23vh;
    z-index: 1;
}

header > h1 {
    position: fixed;
    z-index: 3;
    font-size: 5vw;
    right: 1.2vw;
    cursor: pointer;
}

/* Put next css here */